@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html,
body {
  background: linear-gradient(60deg, var(--purple), var(--pink)) !important;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #6665ee;
}
:root {
  --purple: #814096;
  --pink: #f83292;
}
.container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
h2 {
  color: white;
}
.container .form {
  background: rgb(0, 0, 0);
  opacity: 0.8;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form form .form-control {
  display: flex;
  width: auto;
  height: 40px;
  font-size: 20px;
}
#p {
  color: white;
}
.text-center {
  margin: 15px 0 0 0;
}
.container .form form .forget-pass a {
  font-size: 15px;
}
.container .form form .button {
  background: linear-gradient(90deg, var(--purple), var(--pink));
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.container .form form .button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transform: scale(1.1);
}
.container .form form .link {
  padding: 5px 0;
}
.container .form form .link a {
  color: #6665ee;
}
.container .login-form form p {
  font-size: 14px;
}
.container .row .alert {
  font-size: 14px;
}
.showError1 {
  text-align: center;
  background-color: rgb(243, 97, 97);
}
.showError2 {
  text-align: center;
  background-color: rgb(243, 97, 97);
}
.sucess {
  display: none;
  text-align: center;
  background-color: rgba(70, 255, 101, 0.76);
}
/* .nameForm {
  display: none;
} */
